<header>
        <div class="logo">
             <a href="/"><img src="/css/Free Simple Modern Circle Design Studio Logo.png"  alt="Car Logo"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/add-car-form">Sell Your Car</a>
                </li>
                    <% if(!isAuthorised){%>
                    <li>
                        <a href="/register">Sign up</a>
                    </li>
                    <li>
                        <a href="/login">Sign in</a>
                    </li>
                <% }%>
                <% if(isAuthorised){%>
                    <li>
                        <a href="/logout">Log out</a>
                    </li>
                <% }%>
            </ul>
        </nav>
    </header>