<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/css/style.css" />
    <title><%=title%>></title>
     
</head>
<body>
    <div class="message-container">
    <h1><%= title%></h1>
    <div class="inline">
        <img src="https://p1.hiclipart.com/preview/634/931/750/check-mark-logo-symbol-sign-semiotics-x-mark-red-png-clipart-thumbnail.jpg" alt="">
    <h2><%= message%></h2>
    </div>
<a href="<%=redirectPath%>">Try again</a>
</div>
</body>
</html>